/* ----------- General ----------- */

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.post-title {
    text-align: center;
}

.post-title a {
  font-size: 22px;
  color: black;
}

.post-title a:hover {
  text-decoration: none;
}

#portfolio a {
  color: black;
}

#portfolio a:hover {
  text-decoration: none;
}

.post-info-date {
  text-decoration: none;
  color: #757575;
}

.post-text p {
  font-size: 13px;
  text-align: center;
  color: #757575;
}

.post-info-top {
  font-size: 13px;
}

.post-info-tag {
  color: #36bdd0;
}


.post-info {
  padding: 0 20px;
}



/* ----------- Navigation ----------- */

#mainNav a{
  color: #333;
}

#navbarResponsive {
  background-color: #fff;
}


/* ----------- Hero ----------- */
.hello {
  color: #bbb;
  font-size: 30px;
  letter-spacing: 1.2px;
}

.title {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.position {
  letter-spacing: 1.2px;
  font-weight: 100;
}

#hero {
  background-image: url(./images/hero-image.jpg);
  background-size: cover;
  background-position: bottom;
}

  #hero {
    height: 100vh;
    max-height: 800px;
}

.shape-img {
    position: absolute;
    bottom: -10px;
    width: 100%;
    z-index: 1;
}

.shape-img img {
    display: block;
    max-width: 100%;
    width: 100%;
}

.header {
    color: #f8f8f8;
    position: relative;
    padding-top: 220px;
}


.social-media {
    padding-left: 0;
    margin: 30px 0 0;
}

.social-media li {
    list-style-type: none;
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background-color: #333;
    margin-right: 5px;
    border-radius: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.social-media li:hover {
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
}

.social-media li a {
    color: #fff;
    display: block;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.social-media li a:hover {
    color: #fff;
    display: block;
    font-size: 16px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.social-media li a i {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.social-media .github {
    background-color: #333333;
}

.social-media .linkedin {
    background-color: #007bb5;
}

.social-media .email {
    background-color: #25d366;
}


.next-section {
    position: absolute;
    left: 27%;
    bottom: 9vh;
    z-index: 2;
    width: 14px;
}

@media (max-width: 576px) {
  .next-section {
    left: 29%;
    bottom: 6vh;
    }
}

.next-section a {
    display: block;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.2em;
    position: relative;
}


/* ----------- About ----------- */

#about {
  padding-top: 100px;
  padding-bottom: 100px;
}

#about .introduction {
  color: #36bdd0;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 15px;
}

.tag {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px 10px;
  border-radius: 50px;
  font-size: 12px;
  cursor: default;
}

.tag-black {
  border: 1px solid #000;
  color: #000;
}

.tag-blue {
  border: 1px solid #007bb5;
  color: #007bb5;
}

.tag-green {
  border: 1px solid #25d366;
  color: #25d366;
}



.color-2 span {
    color: #36bdd0;
}

@media (max-width: 768px) {
  .profile .section-title {
    padding-top: 30px;
  }
}

.section-title {
  font-weight: 600;
}

.section-title span {
    position: relative;
}

.section-title span:before {
    content: "";
    background-color: #eee;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 30px;
    height: 4px;
    border-radius: 5px;
    z-index: 1;
}

.section-title span:after {
    content: "";
    background-color: #eee;
    position: absolute;
    bottom: -10px;
    left: 32px;
    width: 10px;
    height: 4px;
    z-index: 2;
    border-radius: 5px;
}

.color-2 span:before, .color-2 span:after {
    background-color: #36bdd0;
}



/* ----------- Portfolio ----------- */

#portfolio {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f6f6f6;
}


.box {
/*  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05); */
  border: 1px solid #eee;
  border-radius: 4px;
  transform: translateZ(0);
  background-color: #fff;
  height: 480px;
  margin-bottom: 30px;
  /*transition: box-shadow 0.3s ease-out 0.3s, transform 0.3s ease-out 0.3s, opacity 0.2s ease-out 0.3s; */
  transition: all 0.3s;
}

@media (max-width: 768px) {
  .box {
    height: 550px;
    }
}

@media (max-width: 576px) {
  .box {
    height: 500px;
    }
}


.box:hover {
    /* box-shadow: 0 12px 20px rgba(0,0,0,.15); */
    box-shadow: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px, rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px, rgba(49,49,49,0.05) 0px 32px 32px, rgba(35,35,35,0.05) 0px 64px 64px;
    transform: translate(0, -4px);
}



  /* ----------- Images ----------- */

  .aspectRatioBox {
    padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
    background-size: cover;
    background-position: center;
  }

/* ----------- Footer ----------- */

.footer {
    background-color: #666;
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.8;
}

.love i {
    color: #ea41ac;
}

.footer {
    background-color: #36bdd0;
}
